<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
    <add key="PYTHONPATH" value="C:\Users\aktiwari\Desktop\MacKay_Initial_Training\Django_API_Main\crud_api" />
    <add key="DJANGO_SETTINGS_MODULE" value="CRUD_API.settings" />
  </appSettings>
  <system.webServer>
    <handlers>
            <add name="demo django" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python312\python.exe|C:\Python312\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
      <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python312\python.exe|C:\Users\aktiwari\Desktop\MacKay_Initial_Training\Django_API_Main\crud_api\CRUD_API\wsgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
      </system.webServer>

</configuration>


